:root{
    --primary-color: #000;
    --bg: #fff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #077252;
    --teal: #06b884;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    background: var(--bg);
    font-family: 'Nunito', sans-serif;
    color: solid black;
}



/* Navbar */

.navbar{
    background: var(--bg);
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(226, 226, 226);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    background: url('image/logo.jpg');
    background-size: cover;
    font-size: 1.7rem;
    font-weight: 800;
    width: 200px;
    height: 50px;
    color: var(--teal);
}

.navbar .navbar-menu{
    display: flex;
    align-items: center;
}

.navbar .navbar-menu a{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--gray-dark);
    transition: all 0.3s ease;
}

.navbar .navbar-menu a:hover{
    color: var(--teal);
    font-weight: 400;
    z-index: 1;
    position: relative;    
    box-sizing: border-box;
    
}

.navbar .navbar-menu a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--teal);
    transition: all 0.3s ease;
    transform: scaleX(0);
    
}

.navbar .navbar-menu a:hover::after{
    transform: scaleX(0.7);

}

.navbar .navbar-active{
    display: flex;
    align-items: center;
}

.navbar-active a{
    color: var(--gray-dark);
    font-weight: 400;
    z-index: 1;
    margin: 0 0.5rem;
    position: relative;    
    
}

#search:hover{
    color: var(--teal);
    transition: all 0.3s ease;

}

#shopping-cart:hover{
    color: var(--teal);
    transition: all 0.3s ease;

}

#menu {
    display: none;
}
.navbar-active .navbar-action-item{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--gray-dark);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--white);

}

.navbar-active .navbar-action-item-daftar{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    background-color: var(--teal);
}
.navbar-active .navbar-action-item:hover{
    background: var(--white);
    color: var(--teal);
    border: 2px solid var(--teal);

}

.navbar-active .navbar-action-item-daftar:hover{
    background: var(--green);
    color: var(--white);
}


/* Hero Image */

.hero{
    background: url('image/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero .hero-content{
    padding: 1.4 rem 7%;
    margin-left: 1.8rem;
    max-width: 60rem;
    color: var(--white);
}

.hero-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-shadow: 1 1 3px rgba(1,1,3,0.5);
}


.hero-content p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0.7rem;
    line-height: 1.5;
    text-shadow: 1 1 3px rgba(1,1,3,0.5);
}


.hero-content .hero-action-item{
    display: inline-block;
    margin: 0 0.2rem;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--teal);
    transition: all 0.3s ease;
    padding: 0.8rem 1.8rem;
    border: 1.5px solid var(--white);
    border-radius: 8px;
    margin-top: 1rem;
    background-color: var(--white);
}

.hero-content .hero-action-item:hover{
    background: var(--teal);
    color: var(--white);
}

/* Daftar Penyakit */

.penyakit{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3.5rem;
    padding: 1.4 rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.penyakit .penyakit-content{
    margin-bottom: 2rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.penyakit .penyakit-content p{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--gray-dark);
}

.penyakit .penyakit-content .button{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    margin-top: 1rem;
    background-color: var(--teal);
    cursor: pointer;
}

.penyakit .penyakit-content .button:hover{
    background: var(--white);
    color: var(--teal);
}

.penyakit .daftar-penyakit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.penyakit .daftar-penyakit .penyakit-item{
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.penyakit .daftar-penyakit .penyakit-item .penyakit-item-content{
    width: 11rem;
    height: 10rem;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    align-items: center; 
    cursor: pointer;
}

.penyakit-item-content .gambar-penyakit{
    margin-bottom: 1rem;
    width: 5.4rem;
    height: 5.4rem;
    object-fit: cover;
}

.penyakit-item-content .penyakit-item-title{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--gray-dark);
    
}

.penyakit-item-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    transition: all 0.3s ease;

}



/* Promo */
.promo{
    margin: 0 6rem;
    margin-top: 3.5rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.promo .card {
    background: url('image/back.png');
    background-size: cover;    
    width: 22.5%;
    height: 95%;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    cursor: pointer; 
  }
  
  .card:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .promo .card2 {
    background: url('image/back2.png');
    background-size: cover;    
    width: 48%;
    height: 95%;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    cursor: pointer; 

  }

  .card2:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .card img {
    margin-left: 16px;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    object-fit: cover;
    padding: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


  }

  
  .container {
    margin-left: 16px;
  }  

  .card .container h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-dark);
  }

  .card .container p{
    margin-top: 6px;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-dark);
  }

  .card2 .container h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    width: 22rem;
  }

  .card2 .container .lihat-semua {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    align-items: center;
    margin-top: 6px;

  }

  .card2 .container .lihat-semua img{
    margin-left: 12px;
    width: 20px;
    height: 20px;
    color: var(--teal);
  }
    .card2 .container .lihat-semua p{
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
  }



/* Dokter Rekomendasi */
.dokter-rekomendasi{
    margin: 0 6rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: 18px;
    background: url(image/bg.jpg);
    background-size: cover;
}

.dokter-rekomendasi .dokter-rekomendasi-title{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 2rem;
    display: flex;

}
.dokter-rekomendasi .dokter-rekomendasi-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dokter-rekomendasi .dokter-rekomendasi-content .card{
    background-color:white;
    width: 16rem;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
}
.dokter-rekomendasi-content .card .card-img{
    background: url('image/client.jpg');
    background-size: cover;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 12px;
}
.dokter-rekomendasi-content .card .card-nama{
    margin-top: 5px;
}
.dokter-rekomendasi-content .card .card-nama h4{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--gray-dark);
}

.dokter-rekomendasi-content .card .card-nama p{
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-dark);
}

.dokter-rekomendasi-content .card .card-icon {
    width: 12rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-start;
    padding: 0 ;

}

.dokter-rekomendasi-content .card .card-icon .card-icon-item{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dokter-rekomendasi-content .card .card-icon .card-icon-item .star i{
    max-width: 30px;
    max-height: 30px;
    color: var(--warning)
}
.dokter-rekomendasi-content .card .card-icon .card-icon-item .bag i{
    max-width: 30px;
    max-height: 30px;
    color: var(--teal)
}

.dokter-rekomendasi-content .card .card-icon .card-icon-item p{
    margin-left: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(94, 92, 92);
}

.dokter-rekomendasi-content .card .card-icon .card-icon-item p span{
    font-weight: 600;
}

.dokter-rekomendasi-content .card .card-ket{
    margin-top: 24px;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dokter-rekomendasi-content .card .card-ket .card-ket-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: flex-start;
}

.dokter-rekomendasi-content .card .card-ket-item2{
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dokter-rekomendasi-content .card .card-ket .card-ket-item p{
    margin-right: 8px;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-dark);
}

.dokter-rekomendasi-content .card .card-ket .card-ket-item h4{
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-dark);
}

.dokter-rekomendasi-content .card .card-ket-item2 a{
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    text-align: center;
    background-color: var(--teal);
}

.dokter-rekomendasi-content .card .card-ket-item2 a:hover{
    background-color: var(--white);
    color: var(--teal);
    transition: 0.3s;
}


/* Testimonial */


.daftar-testimoni{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 3.5rem;
    padding: 1.4 rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.daftar-testimoni .testimoni-content{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daftar-testimoni .testimoni-content p{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--gray-dark);
}

.daftar-testimoni .testimoni-content .button{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    margin-top: 1rem;
    background-color: var(--teal);
    cursor: pointer;
}

.daftar-testimoni .testimoni-content .button:hover{
    background: var(--white);
    color: var(--teal);
}

.testimoni{
    margin-top: 2rem;
    height: autorem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.testimoni .card-testimoni {
    background-color: white;
    width: 31%;
    height: 12rem;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    cursor: pointer; 
    padding: 2rem;
  }
  
    .card-testimoni:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .testimoni .card-testimoni .testimoni-star
  {
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 2rem;
  }

  .testimoni-star a{
    max-width: 30px;
    max-height: 30px;
    color: var(--warning)
  }


  .card-testimoni p{
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-dark);
    width: 100%;
    text-align: left;
  }

  
  .container-testimoni {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 4rem;
    padding: 0%;
}  

.card-testimoni .container-testimoni img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    object-fit: cover;
  }

  .card-testimoni .container-id {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10rem;
    height: auto;
  }


  .container-testimoni .container-id h4{
    height: 25%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-dark);
  }

  .container-testimoni .container-id p{
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-dark);
  }

  /* Bannner */
    .banner {
    background: url('image/bj.png');
    background-size: cover;
    margin-top: 3.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    height: 15rem;
    border-radius: 12px;
    }


    /* Artikel */

    .artikel {
    margin: 0 6rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.4 rem 7%;
    border-radius: 18px;
    }

    .artikel-title {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .artikel-title  p{
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--gray-dark);
    }

    .artikel-title .button{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    margin-top: 1rem;
    background-color: var(--teal);
    cursor: pointer;
    }

    .artikel-kategori
    {
    margin-top: 2rem;
    width: 55%;
    height: 3rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    }

    .artikel-kategori .button{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--teal);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    background-color: var(--white);
    cursor: pointer;
    }

    .artikel-kategori .button-terbaru{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--white);
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    border: 1.5px solid var(--teal);
    border-radius: 8px;
    background-color: var(--teal);
    cursor: pointer;
    }


    .artikel-content {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .artikel-content .card{
    border: rgba(0,0,0,0.2);
    background-color:white;
    width: 30%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    }

    .artikel-content .card .card-img {
    background: url('image/Kenali-Manfaat-dan-Tips-Berpuasa-bagi-Pengidap-Stroke.jpg');
    background-size: cover;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 12px;
    }

   .artikel-content .card .judul{
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-dark);

   }
    .artikel-content .card .ket{
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--teal);
    
   }

   .artikel .artikel-kategori .button:hover{
    background: var(--teal);
    color: var(--white);
    transition: 0.3s;
}

   .artikel .artikel-kategori .button-terbaru:hover{
    background: var(--white);
    color: var(--teal);
    transition: 0.3s;
}

   .artikel .artikel-title .button:hover{
    background: var(--white);
    color: var(--teal);
    transition: 0.3s;
}



/* Footer */
.footer-section{
    background:var(--teal);
    padding: 2 6rem;
    position: relative;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    height: 20rem;
}

.footer-section .company{
    margin-left: 6rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    height: 50%;

}

.company .img{
    padding: 3px;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color: var(--white);
}

.company .company-item{
    margin-top: 1rem;
    width: 50%;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-section .about{
    display:flex;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    margin-top: 3.5rem;
    margin-right: 6rem;

}

.about .title{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white);
}

.about .fitur {
    width: 50%;
    height: 100%;
    border-bottom: 2px;
}

.about .fitur-item {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about .fitur-item a{
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 6px;
    text-decoration: none;
}

